page-login {

  .profile-img-card {
        width: 40%;
        height: auto;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 30px auto 5px;
  }

}
